        </main>
        <footer class="text-center mt-12 text-gray-500">
            <p>&copy; 2025 Learn It, Love It Inc. Construido con ❤️ y Node.js</p>
        </footer>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
